body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#catGif {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.95);
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #eeb3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #f10c0c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#catGif {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e1882e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.95);
}
@media screen and (max-width: 300px) {
  button {
    width: 100%; /* Make the button take up the full width */
  }
}
#catGif {
  margin: 7px 0; /* Adjust spacing for smaller screens */
}
#catGif img {
  width: 70%; /* Make the cat GIF take up the full width of its container */
  border-radius: 5px; /* Optional: Add border radius to the image */
}